<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schronisko</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style="background-color:red">
<h1 th:text="|Nasze zwierzaki:|"></h1>
<table class="table table-dark">
<thead>
    <tr>
    </thead>
    <tbody>
    <tr th:each="shelter:${pupile}">
        <th><font face="fantasy"></font><font size="5">Imię pupila:</font></th> <td th:text="${shelter.name}"></td>
        <th><font face="fantasy"></font><font size="5">Gatunek pupila:</font></th> <td th:text="${shelter.species}"></td>
    </tr>
    </tbody>
</table>
<h2>
    Informacje o poszczególnych pupilach:
    <br>
    <a href="https://i.wpimg.pl/O/644x437/d.wpimg.pl/1644393107--951114347/psy.jpg">Dowiedz sie więcej o "Burku"</a>
    <br>
    <a href="https://i.wpimg.pl/O/644x437/d.wpimg.pl/1644393107--951114347/psy.jpg">Dowiedz sie więcej o "Miaukocie"</a>
    <br>
</h2>
<h3>
    Tu zgłosisz swojego zwiezraczka do adopcji:
</h3>
<form action="/dodaj" method="post" th:object="${newTask}">
    <input type="text" th:field="*{name}"placeholder="Imię"/><br>
    <input type="number" th:field="*{species}"placeholder="Gatunek"/><br>
    <button type="submit" value="Zapisz pupila"/><br>
</form>
</body>
</html>