<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schronisko</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style="background-color:red">
<h1 th:text="|Nasze zwierzaki:|"></h1>
<table class="table table-dark">
<thead>
    <tr>
    </thead>
    <tbody>
    <tr th:each="shelter:${pupile}">
        <th>Imię pupila:</th><td><a th:href="@{/showAnimal}"
                                    th:text="${shelter.name}"></a>

    </td>
        <th>Gatunek pupila:</th><td th:text="${shelter.species}"></td>
    </tr>
    </tbody>
</table>
<h2> Wpisz który gatunek interesuje Cię najbardziej:</h2>
<div style="width: 50px; margin: 10px">
<form action="/sortAnimals" method="get">
    <input type="text" name="gatunek" placeholder="Gatunek"/><br>
    <input type="submit" value="Wybierz"/><br>
</form>
</div>
<h3>
    Tu zgłosisz swojego pupila do adopcji:
</h3>
<div style="width: 50px; margin: 10px">
<form action="/saveAnimal" method="post" th:object="${newAnimals}">
    <input type="text" th:field="*{name}"placeholder="Imię"/><br>
    <input type="text" th:field="*{species}"placeholder="Gatunek"/><br>
    <input type="submit" value="Zapisz"/><br>
</form>
</div>
</body>
</html>